---
name: home
url: /
---
<h1>Welcome to Foundation for Apps!</h1>
<p class="lead">This is version <strong>1.0.0 Matterhorn</strong>.</p>


<div ng-controller="FireCtrl">

<!-- 	<div ng-show="user">
		<p>Hello, {{ user.facebook.displayName }}</p>
		<button ng-click="auth.$unauth()">Logout</button>
	</div>
	<div ng-hide="user">
		<p>Welcome, please log in.</p>
		<button ng-click="auth.$authWithOAuthPopup('twitter')">Login</button>
	</div>
 -->


	<div class="grid-block">
		<div class="small-12 grid-block grid-content stagger hingeInFromTop easeOut" ng-repeat="message in messages">
			<div class="card secondary">
				<div class="card-divider">
					{{ message.text }}
					<a class="float-right" ng-click="messages.$remove(message)"><img zf-iconic="" data-src="/assets/img/iconic/circle-x.svg" class="iconic-sm"></a>
				</div>
			</div>
		</div>
	</div>
	<form ng-submit="addMessage(newMessageText)">
		<div class="grid-content shrink">
			<div class="small-12 grid-content">
				<label>
					Send a message
					<span class="inline-label">
						<input type="text" placeholder="Write your message..." ng-model="newMessageText">
						<!-- <a href="#" class="button">Send &raquo;</a> -->
						<a ng-click="addMessage(newMessageText)" class="button" type="submit"><img zf-iconic="" data-src="/assets/img/iconic/comment-square.svg" class="iconic-sm"> Send</a>

					</span>
				</label>
			</div>
		</div>
	</form>
</div>

