---
name: news
url: /news
articles:
- "Lorem ipsum dolor"
- Lorem ipsum dolor sit.
- Lorem ipsum dolor sit amet, consectetur adipisicing elit.
- Lorem ipsum dolor sit? Really?
---
<h1>News</h1>
<p class="lead">This page shows how you can use data in the yaml header and ng-repeat to create data driven prototypes.</p>

{{ vars }}

<hr>

<div class="grid-block small-up-1 medium-up-3 large-up-4">
	<div class="grid-block hingeInFromTop delay easeOut fast" ng-repeat="article in vars.articles">
		<div class="grid-content">
			<div class="card primary">
				<img src="http://placehold.it/640x280/0091B5/ffffff&text=Image+{{ $index + 1 }}" alt="">
				<div class="card-divider">{{ article }}</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, nulla.</p>
			</div>
		</div>
	</div>
</div>